<ion-view view-title="Photo">
    <ion-content>
        <div class="list card step1">

            <div class="item item-avatar"
                 data-affix-within-parent-with-class="card"
                 ion-affix>
                <img ng-src="{{GalleryPhoto.data.user.img}}">

                <h2>{{GalleryPhoto.data.user.name}}</h2>
                <span>{{GalleryPhoto.data.created | amTimeAgo}}</span>
            </div>

            <div class="item item-body">
                <img ng-src="{{GalleryPhoto.data.img._url}}"
                     style="width: 100%">
            </div>
            <div class="padding">
                <p>{{ GalleryPhoto.data.title }}</p>

                <p>
                    <a class="subdued"
                       href="#">1 {{ 'Like' | translate}}</a>
                </p>
            </div>
        </div>

        <div class="list">
            <div ng-repeat="item in GalleryPhoto.comments"
                 class="item item-avatar">
                <img ng-src="{{ item.user.img }}" />

                <h2>{{ item.user.name }}</h2>

                <p>{{ item.text }}</p>
            </div>
        </div>

        <div class="step2">
            <formly-form model="GalleryPhoto.form"
                         fields="GalleryPhoto.formFields"
                         form="rForm">

                <div class="padding">
                    <button class="button button-block button-positive"
                            type="button"
                            ng-click="GalleryPhoto.submitComment(rForm, GalleryPhoto.form)"
                            translate>Comment
                    </button>
                </div>

            </formly-form>
        </div>
    </ion-content>
</ion-view>