<ion-view>
    <ion-nav-title>
        <span class="icon2-logo"></span>
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button gallery-settings
                class="button button-icon icon ion-android-more-vertical"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true">
        <ion-refresher ng-if="!GalleryHome.loading"
                       on-refresh="loadMore(true)"></ion-refresher>

        <ion-loading icon="android"></ion-loading>

        <gallery-photo-list gallery="GalleryHome.data"
                            loading="GalleryHome.loading"></gallery-photo-list>

        <ion-infinite-scroll
                ng-if="GalleryHome.data.length>1"
                on-infinite="GalleryHome.load()">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
