<ion-modal-view class="modal-profile">
    <ion-header-bar class="bar-dark">
        <button class="button button-clear button-icon ion-ios-arrow-thin-left" ng-click="closeModal()"></button>
        <div class="title">{{ 'Settings' | translate }}</div>
    </ion-header-bar>
    <ion-content class="animated fadeIn">

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label" style="z-index: 2;">
                    <h2>{{'Change language' | translate}}</h2>
                </div>
                <select ng-model="language" ng-change="changeLanguage(language)" ng-options="language.value as language.name for language in languages"> </select>
            </label>

            <ion-toggle class="toggle-positive" ng-model="form.push">
                <h3>
                    <small translate>Notification</small>
                </h3>
                <p ng-if="!setting_preview" translate>Off</p>

                <p ng-if="setting_preview" translate>On</p>
            </ion-toggle>


            <!--<ion-item class="item-icon-right" ng-click="showSync();">-->
            <!--<h3>-->
            <!--<small translate>Synced Contacts</small>-->
            <!--</h3>-->
            <!--<p translate>On</p>-->
            <!--<i class="icon ion-ios-arrow-right"></i>-->
            <!--</ion-item>-->
            <!--<ion-item class="item-icon-right" ng-click="show();">-->
            <!--<h3>-->
            <!--<small translate>Invite Friends</small>-->
            <!--</h3>-->
            <!--<i class="icon ion-ios-arrow-right"></i>-->
            <!--</ion-item>-->
            <!--<ion-toggle ng-modal="form.camera">-->
            <!--<h3>-->
            <!--<small translate>Save Photos to the Camera Roll</small>-->
            <!--</h3>-->
            <!--<p ng-if="!setting_camera" translate>Off</p>-->

            <!--<p ng-if="setting_camera" translate>On</p>-->
            <!--</ion-toggle>-->

            <ion-item class="item-icon-right" ng-click="openLink('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FAW4JZS7KJM5S')">
                <h3>
                    <small translate>Buy Source Code</small>
                </h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="openLink('http://photogramapp.com')">
                <h3>
                    <small translate>Help</small>
                </h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="openLink('http://photogramapp.com')">
                <h3>
                    <small translate>Privacy Policy</small>
                </h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="openLink('http://photogramapp.com')">
                <h3>
                    <small translate>Terms of Service</small>
                </h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="show();">
                <h3>
                    <small translate>Report a Problem</small>
                </h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

        </div>
        <div class="padding">
            <button ng-click="link('logout')" class="button button-block button-positive" translate>Logout
            </button>
        </div>
    </ion-content>
</ion-modal-view>