<ion-view cache-view="false"
          class="gallery-activity">

    <ion-nav-title>
        <h1 class="title">{{ 'Activities' | translate }}</h1>
    </ion-nav-title>

    <ion-content>

        <gallery-loading loading="GalleryActivity.loading"
                         icon="android"></gallery-loading>

        <div class="list">

            <div class="item item-avatar item-animate1"
                 ng-repeat="item in GalleryActivity.data"><img ng-src="{{ item.user.src }}">

                <h2>{{ item.user.name }}</h2>

                <div class="text">{{ item.action | translate }}</div>
                <p>{{ item.created | amTimeAgo }}</p>

                <div class="img-right"
                     ng-if="ite.img">
                    <img ng-src="{{ item.img }}">
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
