<ion-modal-view class="modal-profile">
    <ion-header-bar class="bar-dark">
        <button class="button button-clear button-icon ion-ios-arrow-thin-left" ng-click="closeModal()"></button>
        <div class="title">{{ 'Settings' | translate }}</div>
    </ion-header-bar>
    <ion-content>

        <div class="list step1">
            <label class="item item-input item-select">
                <div class="input-label" style="z-index: 2;">
                    <h2>{{'Change language' | translate}}</h2>
                </div>
                <select ng-model="language" ng-change="changeLanguage(language)" ng-options="language.value as language.name for language in languages"> </select>
            </label>

            <div class="item item-divider" translate>Share
            </div>
            <div class="item item-icon-left  item-icon-right" ng-click="share('facebook')">
                <i class="icon ion-social-facebook"></i> Facebook
                <i class="icon ion-ios-arrow-forward"></i>
            </div>
            <div class="item item-icon-left  item-icon-right" ng-click="share('twitter')">
                <i class="icon ion-social-twitter"></i> Twitter
                <i class="icon ion-ios-arrow-forward"></i>
            </div>

            <div class="item item-icon-left  item-icon-right" ng-click="share('whatsapp')">
                <i class="icon ion-social-whatsapp"></i> Whatsapp
                <i class="icon ion-ios-arrow-forward"></i>
            </div>

            <div class="item item-icon-left item-icon-right" ng-click="share('email')">
                <i class="icon ion-email"></i> E-mail
                <i class="icon ion-ios-arrow-forward"></i>
            </div>

            <!--  Terms-->
            <div class="item item-divider" translate>Terms
            </div>
            <!--<div class="item"-->
            <!--translate>About-->
            <!--</div>-->

            <div class="item" open-terms translate>Terms and Conditions
            </div>
        </div>
        <div class="padding step2">
            <button ng-click="link('logout')" class="button button-block button-positive" translate>Logout
            </button>
        </div>
    </ion-content>
</ion-modal-view>