.anim1 {
    animation-name: fadeInDown;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    /*// Instead of the line below you could use @includebackface-visibility($ visibility) */
    backface-visibility: hidden;
}

.anim.ng-leave {
    opacity: 0px;
}

.zoom.ng-enter {
    transition: 1s linear all;
    position: relative;
    left: -200px;
    opacity: 0;
}

.zoom.ng-leave {
    transition: 1s linear all;
    position: relative;
    right: -200px;
    opacity: 0;
}

.item-body {
    position: relative;
}

.item-body i {
    display: block;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10em;
    left: 35%;
    top: 32%;
    transition: 1s linear all;
}

.item-body i.ng-enter {
    animation-name: bounceIn;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    opacity: 1;
}

.item-body i.ng-leave {

    opacity: 0;
}

div.loading {
    display: block;
    padding: 10px;
    margin: 10px;
}

div.loading.ng-enter {
    animation-name: fadeInDown;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.loading.ng-leave {
    animation-name: fadeInDown;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    backface-visibility: hidden;
}

.step1 {
    animation-name: fadeInDown;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    backface-visibility: hidden;
}

.step2 {
    animation-name: fadeInUp;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
/ / Instead of the line below you could use @includebackface-visibility($ visibility) backface-visibility: hidden;
}

.step3 {
    animation-name: fadeInUp;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
/ / Instead of the line below you could use @includebackface-visibility($ visibility) backface-visibility: hidden;
}

.zoom.ng-enter-active {
    left: 0;
    opacity: 1;
}
